[submodule "zshuery"]
	path = zshuery
	url = https://github.com/myfreeweb/zshuery.git
[submodule "zsh-completions"]
	path = zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "gnome-terminal-colors-solarized"]
	path = gnome-terminal-colors-solarized
	url = https://github.com/kfieldho/gnome-terminal-colors-solarized.git
[submodule "snippets"]
	path = snippets
	url = https://github.com/alexanderepstein/Bash-Snippets.git
